.charts {
	background-color: #f9f9f9;
	margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    width: 90%;
    overflow: hidden;
}

body {
	font-family: Helvetica, Arial, sans-serif;
} 

.left {
    float: left;
}

.right {
    float: right;
}
.center {
    text-align: center; 
}
.full {
    width: 100%;
}
#settings, #settingsMenu {
    display: none;
}

#zones, #zonesMenu {
    display: none;
}

/*Iulian CSS starts*/

@font-face {
    font-family: RainMachine;
    src: url('../font/rainmachine.woff');
}

* {
    padding : 0;
    margin : 0;
    border : 0;
    font: 14px normal Arial, sans-serif;
}
#name {
    padding: 20px;
    float: left;
    min-width: 300px;
}
h1 {
    font: 24px normal Arial, sans-serif;
}
.content h1 {
    padding-left: 10px;
    margin-bottom: 10px;
}
#programsList, #zonesList {
    padding-left: 10px;
}
.subtitle {
    font: 12px normal Arial, sans-serif;
    color: #888;
}
.mainContainer {
    display : block;
    margin: 0 auto; /*center the div*/
    width : 100%;
    overflow : auto;
    background-color: #fff;
}
.pageHeader {
    float : left;
    clear : none;
    height : 80px;
    width:100% !important;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #ddd;
}
.pageLeftMenu {
    float: left;
    clear: none;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;      
}
.pageContent {
    float : left;
    clear : none;
    width: 100%;
    min-height:800px !important;
    background-color: #f9f9f9;
}
.pageFooter {
    float : left;
    clear : none;
    color:#555;
    text-align: left;
    font-size: 10px;
    border-top: 1px solid #e7ebee;
    height : 50px;
    min-width: 100% !important;
    background-color: #fff;
}

/*topMenu starts*/
.topButton {
    float: right;
    min-width: 100px;
    display:inline-block;
    padding-top: 36px;
    padding-bottom:27px;
    margin-right: 5px;
    color: #555;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}

.topButton:hover {
    color: #999;
    border-bottom: 2px solid blue;
}
.topButton[selected] {
    color: blue;
    border-bottom: 2px solid blue;
}

/*leftMenu starts*/
.submenu {
    display:block;
    float:left;
    margin: 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 15px;
    color: #000;
}

.submenu[selected] {
    background-color: #f9f9f9;
    border-bottom: 2px solid blue;
}

.submenu:hover {
    color: blue; /*blue color*/
    background-color: #f9f9f9;
}



/*buttons*/
.save, .edit, .stop {
    display:inline;
    text-align: center;
    color: #fff;
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: 5px;
}


.save {
    background-color: #00B25C;
}
.edit {
    background-color: #FF9700;
}
.stop {
    background-color: #FF0000;
}

.pending {

}

.save:hover {
    color: #00B25C; 
    background-color: transparent; 
    border: 1px solid #00B25C;
    cursor: pointer;
}
.edit:hover {
    color: #FF9700; 
    background-color: transparent; 
    border: 1px solid #FF9700;
    cursor: pointer;
}
.stop:hover {
    color: #FF0000; 
    background-color: transparent; 
    border: 1px solid #FF0000;
    cursor: pointer;
}
.start {
    color: #00B25C;
}
.edittxt {
    color: #FF9700;
}
.restriction {
    color: #FF0000;
}
button {
    display: inline;
    background-color: transparent;
    cursor: pointer;
}
input.typeText {
    border: 1px solid #eee;
    padding: 15px;
    font-size: 16px;
    width: 100%;
}
input.typeCheckbox {
    border: 1px solid #eee;
    padding: 15px;
    font-size: 16px;
}
input.typeNumber {
    margin: 5px;
    margin-left: 0px;
    border: 1px solid #eee;
    padding: 5px 0px 5px 5px;
    font-size: 16px;
    width: 60px;
}

.circle {
    display: table-cell;
    text-align: center;
    vertical-align: middle !important;
    width: 70px;
    height:70px;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #3399cc;
    background-color: transparent;
    outline: none;
}

.circle:hover {
    display: table-cell;
    text-align: center;
    vertical-align: middle !important;
    width: 70px;
    height:70px;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #3399cc;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}

.zonecircle {
    width:20px;
    height:20px;
    background-color:#85d3ff;
    border: 1px solid #3399cc;
    border-radius:100%;
    line-height:20px;
    color: #fff;
    font-size: 12px;
    margin-right:5px;
    margin-bottom: 5px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
}
.zones-bullets {
    width: 240px;
}

/*small devices images*/
.spks {
    width:68px;
    height:46px;
    overflow:hidden;
    float:left;
    margin-right:10px;
}
.spk2 {
    margin-top:0px;  /*show SPK2 thumb*/
}
.spk3 {
    margin-top:-56px; /*show SPK3 thumb*/
}

/*zone, programs squares*/
.listItem {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    padding: 25px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    width: 260px;
    text-align: left;
    margin-bottom: 10px;
    margin-right: 10px;
    min-height: 90px;
}

.inactive {
    opacity: 0.3;
}

.zoneIdle, .zonePending {
    display: none;
}

.zoneRunning {
    font-family: RainMachine;
    font-size: 32px;
    white-space: nowrap;
    cursor: default;
    display: block;
    float:left;
    width:32px;
    margin-right: 3px;
    color: #0099ff;
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.programEdit {
    display: inline-block;
    background-color: #fff;
    padding: 25px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-radius: 5px;
    width: 86%;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
}
.wateringTimes {
    width: 48.5%;
    float:right;
}
.programProperties {
    width: 48.5%;
    float:left;
}
.cardTitle {
    color:#666;
    font-size:16px;
    text-align: left;
}
.cardSubtitle {
    color:#999;
    font-size:12px;
    text-align: left;
}

.masterValve {
    background-color: #D24D57;
    color:#fff;
}
.masterValve h1 {
    color: #fff;
}


td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    border-bottom: 1px solid #ddd;
}

.listItem hr {
    height:1px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px)
{
    .pageLeftMenu {
        float : left;
        clear : none;
        width: 100%;
    }
    .pageContent {
        float : left;
        clear : none;
        width: 100%;
        background-color: #f9f9f9;
    }

    #topMenu ul {
        float:none;
        display: block;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    #name {
        display: none;
    }

}

@media screen and (max-width: 480px)
{
    .pageLeftMenu {
        float : left;
        clear : none;
        width: 100%;
    }

    .pageContent {
        float : left;
        clear : none;
        width: 100%;
        background-color: #f9f9f9;
    }
}

