body.login {
    overflow: hidden;
}

.loginContainer {
    display: none;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.loginContainer .loginInnerContainer {
    background-color: #f7f7f7;
    padding: 25px;
    border-radius: 5px;
    width: 350px;
    height: 200px;
    margin: 100px auto;
}

.loginInnerContainer > div {
    width: 100%;
    height: 32px;
    margin-bottom: 10px;
}

.loginInnerContainer input[type='password'] {
    width: 100%;
    height: 32px;
    border: 1px solid #eee;
    padding: 10px 10px;
}


body.login .loginContainer {
    display: block;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
}
.center {
    text-align: center;
}
.full {
    width: 100%;
}
.bold {
    font-weight: bold;
}
.clear30 {
   clear:both;
   height:30px;
}
h1.title {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.w250 {
    display: inherit;
    width: 180px;
}
.mr{
  margin-right: 60px;
}
#settings, #settingsMenu {
    display: none;
}
#success, #error {
    display: none;
    padding: 15px 0;
    margin-bottom: 20px;
    text-align: center;
}
#success {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}
#error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}
b, strong {
      font-weight: 700;
}
#zones, #zonesMenu {
    display: none;
}

/*Iulian CSS starts*/

@font-face {
    font-family: RainMachine;
    src: url('../font/rainmachine.woff');
}
.icon {
    font-family: RainMachine;
    src: url('../font/rainmachine.woff');
    font-size: 25px;
}
* {
    padding : 0;
    margin : 0;
    border : 0;
    font: 14px normal Arial, sans-serif;
}
#name {
    padding-top: 20px;
    padding-left: 10px;
    float: left;
    min-width: 480px;
}
h1 {
    font: 24px normal Arial, sans-serif;
}
.content {
  position: relative;
  float: left;
  width: 98%;
  height: auto;
  overflow: auto;
  margin: 0 1%;
}

.content h1 {
    padding-left: 10px;
    margin-bottom: 10px;
}

#programsList, #zonesList {
    padding-left: 12px;
}
.subtitle {
    font: 12px normal Arial, sans-serif;
    color: #888;
}
.mainContainer {
    display : block;
    margin: 0 auto; /*center the div*/
    width : 100%;
    overflow : auto;
    background-color: #fff;
}
.pageHeader {
    height : 80px;
    width:100% !important;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #ddd;
}
.pageLeftMenu {
    float: left;
    clear: none;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.pageContent {
    float : left;
    clear : none;
    width: 100%;
    min-height:800px !important;
    background-color: #f9f9f9;
}
.pageFooter {
    float : left;
    clear : none;
    color:#555;
    text-align: left;
    font-size: 10px;
    border-top: 1px solid #e7ebee;
    height : 50px;
    min-width: 100% !important;
    background-color: #fff;
}

/*topMenu starts*/
.topButton {
    float: right;
    min-width: 100px;
    display:inline-block;
    padding-top: 23px;
    padding-bottom: 15px;
    margin-right: 5px;
    color: #555;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}

.topButton:hover {
    color: #3399cc;
    border-bottom: 2px solid #3399cc;
}
.topButton[selected] {
    color: #3399cc;
    border-bottom: 2px solid #3399cc;
}

/*leftMenu starts*/
.submenu {
    display:block;
    float:left;
    margin: 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 15px;
    color: #000;
}

.submenu[selected] {
    background-color: #f9f9f9;
    border-bottom: 2px solid #3399cc;
}

.submenu:hover {
    color: #3399cc; /*blue color*/
    background-color: #f9f9f9;
}

/*buttons*/
.save, .edit, .stop, .set, .default {
    display:inline;
    text-align: center;
    color: #fff;
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: 5px;
}


.save, .set {
    background-color: #3399cc;
}
.edit {
    background-color: #FF9700;
}
.stop {
    background-color: #FF0000;
}
.default{
    background-color: #ccc;
}

.addNew, .addNew:hover {
    display: block;
    margin: 0 auto;
    font-family:'RainMachine';
    font-size: 80px;
    text-align: center;
    margin-top:35px;
    color: #3399cc;
    padding: 1px;
}
.addNew:hover {
    color: #555;
    background-color: #fff;
    border-radius: 100%;
}

.save:hover, .set:hover {
    color: #3399cc;
    background-color: transparent;
    border: 1px solid #3399cc;
    cursor: pointer;
}
.edit:hover {
    color: #FF9700;
    background-color: transparent;
    border: 1px solid #FF9700;
    cursor: pointer;
}
.stop:hover {
    color: #FF0000;
    background-color: transparent;
    border: 1px solid #FF0000;
    cursor: pointer;
}
.default:hover {
    color: #ccc;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;

}
.start, td.saved {
    color: #3399cc;
}
.edittxt {
    color: #FF9700;
}
.restriction {
    color: #FF0000;
}
.restrictionList {
    display: inline;
    padding: 5px;
    border: 1px solid red;
    width: 50px;

}
.restrictionAddNewDays {
    display: inline-block;
    width: 45px;
    height: 35px;
    text-align: center;
    line-height:25px;
}
.half, .halfRight {
  display: inline-block;
  width: 47%;
  vertical-align: top;
}
.halfRight {
  margin-left: 4%;
}
.noborder {
    border:0px;
}
.bordertop {
    border-top:1px solid #ddd;
    padding-top: 5px;
}
.green {
    color: #00B25C;
}
.separator {
     margin-top:5px;
     margin-bottom:5px;
     display:block;
     height:1px;
     background-color: #f0f0f0;
}
.relative {
    padding: 0;
    position: relative;
}
.bottom {
     position: absolute;
     bottom: 25px;
}
button {
    display: inline;
    background-color: transparent;
    cursor: pointer;
}
input.typeText {
    border: 1px solid #eee;
    padding: 15px;
    font-size: 16px;
    width: 100%;
}
input[type="checkbox"] {
    padding-left:5px;
    padding-right:5px;
     -webkit-appearance:button;
    width:15px;
    height:15px;
    border: 1px solid #ddd;
    background-color: #fff;
}
input[type="checkbox"]:checked {
    background: url('../images/selected.png') no-repeat center;
    border: 1px solid #3399cc;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #3399cc;
  border-radius: 0px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.5px 0.5px 2.2px #3399cc, 0px 0px 0.5px #47a3d1;
  border: 1.8px solid rgba(51, 153, 204, 0);
  height: 27px;
  width: 35px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3399cc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #3399cc;
  border-radius: 0px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.5px 0.5px 2.2px #3399cc, 0px 0px 0.5px #47a3d1;
  border: 1.8px solid rgba(51, 153, 204, 0);
  height: 27px;
  width: 35px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3399cc;
  border: 0px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #3399cc;
  border: 0px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.5px 0.5px 2.2px #3399cc, 0px 0px 0.5px #47a3d1;
  border: 1.8px solid rgba(51, 153, 204, 0);
  height: 27px;
  width: 35px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  height: 3.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3399cc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3399cc;
}

input.typeRadio {
    border: 1px solid #eee;
    padding: 15px;
    font-size: 16px;
}
input.typeNumber, input.typeTime {
    margin: 5px;
    margin-left: 0;
    border: 1px solid #eee;
    padding: 5px 0 5px 5px;
    font-size: 16px;
    width: 60px;
    height: 36px;
}
input.typeTime {
    width: 180px;
}
select {
   background: #fff url('../images/arrow.png') no-repeat;
   background-position:right center;
   min-width: 180px;
   padding: 10px;
   font-size: 15px;
   line-height: 1;
   border: 1px solid #ddd;
   border-radius: 0;
   height:44px;
   -webkit-appearance: none;
}

.circle {
    display: table-cell;
    text-align: center;
    vertical-align: middle !important;
    width: 70px;
    height:70px;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #3399cc;
    background-color: transparent;
    outline: none;
}

.circle:hover {
    display: table-cell;
    text-align: center;
    vertical-align: middle !important;
    width: 70px;
    height:70px;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #3399cc;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}

.zonecircle {
    width:20px;
    height:20px;
    background-color:#85d3ff;
    border: 1px solid #3399cc;
    border-radius:100%;
    line-height:20px;
    color: #fff;
    font-size: 12px;
    margin-right:5px;
    margin-bottom: 5px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
}
.zones-bullets {
    width: 240px;
}

/*small devices images*/
.spks {
    width:68px;
    height:46px;
    overflow:hidden;
    float:left;
    margin-right:10px;
}
.spk2 {
    margin-top:0;  /*show SPK2 thumb*/
}
.spk3 {
    margin-top:-56px; /*show SPK3 thumb*/
}

/*zone, programs squares*/
.listItem, .listItemSettings, .listItemSettingsZones, .listItemSettingsRestrictions {
    vertical-align: top;
    background-color: #f9f9f9;
    padding: 25px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    width: 315px;
    text-align: left;
    margin-bottom: 10px;
    margin-right: 10px;
    min-height: 150px;
}
.listItemSettings, .listItemSettingsRestrictions {
    background-color: #f9f9f9;
    width:25%;
    min-width: 263px;
    line-height: 24px;
}
.listItem, .listItemSettingsZones, .listItemSettingsRestrictions {
    display: inline-block;
}

.inactive {
    opacity: 0.3;
}
.master {
    background-color: #ffdadf;
}

.zoneIdle, .zonePending {
    display: none;
}

.zoneRunning, .zonePending {
    font-family: RainMachine, sans-serif;
    font-size: 32px;
    white-space: nowrap;
    cursor: default;
    display: block;
    float:left;
    width:32px;
    margin-right: 3px;
    color: #0099ff;
    *-webkit-animation: rotation 2s infinite linear;
    animation: rotate 2s infinite linear;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

*@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
    0% {

      transform: rotate(360deg);
      opacity: 0.0;
      transform: scale(.1);
    }
    50% {
      opacity: 1;
      transform: rotate(180deg);
    }
    100% {

      transform: rotate(0deg);
      opacity: 0;
      transform: scale(1.2);
    }
}

.zonePending {
    color: #00B25C;
    animation: none;
}

.programActive [rm-id="program-status"] {
    display: none;
}

.programActive.programRunning [rm-id="program-status"] , .programActive.programPending [rm-id="program-status"] , .programInactive [rm-id="program-status"] {
    font-family: RainMachine, sans-serif;
    font-size: 32px;
    white-space: nowrap;
    cursor: default;
    display: block;
    float:left;
    width:32px;
    margin-right: 3px;
    color: #0099ff;
    /*-webkit-animation: rotation 2s infinite linear;
    animation: rotate 2s infinite linear;*/
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

.programActive.programRunning [rm-id="program-status"] {
    color: #00B25C;
}

.programActive.programPending [rm-id="program-status"] {
    color: #0099ff;
}

.programInactive [rm-id="program-status"] {
    color: #FF0000;
}

.programInactive button[rm-id="program-start"] {
    display: none;
}
.programEdit, .settingsBlock, .settingsBlockZones, .settingsBlockProgram {
    padding: 25px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 20px;
}
.programEdit {
    background-color: #fff;
    position: relative;
    top: -50px;
    left: 0px;
    z-index: 9999;
}
.settingsBlock, .settingsBlockZones,.settingsBlockProgram {
    background-color: #fff;
}
.settingsBlockZones,.settingsBlockProgram {
    height: 100%;
    width: 95%;
}
.wateringTimes {
    width: 44.5%;
    border-bottom: 0;
}
.programProperties {
    width: 44.5%;
    border-bottom: 0;
}
.gap {
    width: 1%;
    border-bottom: 0;
}
.gapProrgEdit {
    width: 5%;
    border-bottom: 0;
}
.cardTitle {
    font-size:16px;
    text-align: left;
    max-width: 230px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;

}
.cardSubtitle {
    color:#999;
    font-size:12px;
    text-align: left;
    max-width: 230px;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.masterValve {
    background-color: #D24D57;
    color:#fff;
}
.masterValve h1 {
    color: #fff;
}


td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}
td.middle, .middle {
    vertical-align: middle;
}

td.right, .right {
    text-align: right;
}

.listItem hr {
    height:1px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* Watering History Custom Classes */
.historyDateContainer {
    width:100%;
    display: table;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.historyZone {
    width:100%;
    display: table;
}
.historyZone:hover {
    background-color: #f0f0f0;
}
.historyZoneItem  {
    display: table-cell;
    text-align: left;
    width: 25%;
    padding: 10px 0;
}
.historyZoneItem:last-child {
    text-align: right;
    color:#3399cc;
    font-weight: bold;
}
.historyDate, .historyProgName {
    display: table-cell;
    width:10%;
    padding: 15px 0;
    font-weight: bold;
}
.historyAllZones {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    margin-left: 60px;
}

/* DASHBOARD */

.dashboardMenu {
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
}

.dashboard {
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
}

.charts {
  position: relative;
  float: left;
  width: 98%;
  height: 450px;
  overflow: hidden;
  margin: 20px 1%;
  background: #f9f9f9;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

/* DASHBOARD */

/* MEDIA QUERIES */

@media screen and (max-width: 768px)
{
    .pageLeftMenu {
        float : left;
        clear : none;
        width: 100%;
    }
    .pageContent {
        float : left;
        clear : none;
        width: 100%;
        background-color: #f9f9f9;
    }

    #topMenu ul {
        float:none;
        display: block;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    #name {
        display: none;
    }

}

@media screen and (max-width: 480px)
{
    .pageLeftMenu {
        float : left;
        clear : none;
        width: 100%;
    }

    .pageContent {
        float : left;
        clear : none;
        width: 100%;
        background-color: #f9f9f9;
    }
}

